.card{
    height: 400px;
    background-color: rgb(229, 229, 229);
    text-align: center;
    box-shadow: 5px 8px 8px 3px #5a8ca1;
}
.card img{
    margin: 5px auto;
    width: 110px;
    height: 110px;
    border-radius: 50px;
    background-color: black;
}
.btn-regular{
    margin-left: 25% ;
    width: 60%;
    text-align: center;
    background-color: rgb(53, 120, 175);
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 202);
    
}
.a{
    margin-top: 15px;
}